body{
    margin: 0;
}

:root{
    --Dark: rgb(11, 13, 23);
    --Gray: rgb(208, 214, 249);
    --White: rgb(255, 255, 255);
    --TopBar: rgba(255, 255, 255, 4%);
}

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

h1{
    font-family: Bellefair;
    font-size: 150px;
    font-weight: 400;
    color: var(--White);
    margin: 0;
}

h2{
    font-family: Bellefair;
    font-size: 100px;
    font-weight: 400;
    color: var(--White);
    margin: 0;
}

h3{
    font-family: Bellefair;
    font-size: 56px;
    font-weight: 400;
    color: var(--White);
    margin: 0;
}

h4{
    font-family: Bellefair;
    font-size: 56px;
    font-weight: 400;
    color: var(--White);
    margin: 0;
}

h5{
    font-family: 'Barlow Condensed';
    font-size: 28px;
    letter-spacing: 4.75;
    color: var(--White);
    margin: 0;
}

.--Subheading1{
    font-family: Bellefair;
    font-size: 28px;
    color: var(--White);
    margin: 0;
}

.--Subheading2{
    font-family: 'Barlow Condensed';
    font-size: 14px;
    letter-spacing: 2.35;
    color: var(--White);
    margin: 0;
}

nav{
    font-family: 'Barlow Condensed';
    font-size: 16px;
    letter-spacing: 2.7;
    color: var(--White);
    margin: 0;
}


@media only screen and (min-width: 769px) {
    .TopBar{
        position: absolute;
        height: 96px;
        width: 100%;

        box-sizing: border-box;

        padding-left: 55px;
        top: 40px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .TopBar-Block{
        height: 96px;
        width: 830px;
        background-color: var(--TopBar);
        backdrop-filter: blur(10px);

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .TopBar-Line{
        background-color: var(--White);
        position: absolute;
        height: 1px;
        width: 473px;
        right: 800px;
        left: 443;
    }


    
    .Contener{
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .--DesktopHome{
        background-image: url(assets/home/background-home-desktop.jpg);
    }
}